.footer
  ul.nav.navbar-nav.padded
    li &copy; Senteri 2015
    li &nbsp;&nbsp;|&nbsp;&nbsp;  
    li (602) 730-4764
    li &nbsp;&nbsp;|&nbsp;&nbsp;
    li
      a(href='mailto:support@homeclub.us') support@homeclub.us
  
  ul.nav.navbar-nav.pull-right
    li
      a(href='https://docs.google.com/document/d/1se8Gi2OuQyac-ugQG9x7RHBio_nbQFkCIyRHS0PkW8g/pub', target='_') Terms of Service
    li
      a(href='https://docs.google.com/document/d/1yy3I-9kohKM3VhJ3CgGUzzmjRoekmEbxcv3lUlnqHBE/pub', target='_') Privacy