.container
  .row
    .col-xs-6
      
      
      .page-header Sensor Hub Locations
      
      .alert.alert-warning(ng-hide="everySensorHubHasARoomType(sensorHubs)") Please specify Sensor Hub Locations

      form.form-horizontal(ng-repeat='sensorHub in sensorHubs')
        .form-group
          label.col-xs-6.control-label {{ meta.roomTypes[sensorHub.roomType] || meta.sensorHubTypes[sensorHub.sensorHubType] }} ({{ sensorHub._id }})
          .col-xs-6
            select.form-control(ng-show='sensorHub.roomType', ng-model='sensorHub.roomType', ng-options='roomTypeId as roomTypeName for (roomTypeId, roomTypeName) in meta.roomTypes')
              option(value='') -- change room --
            select.form-control(ng-hide='sensorHub.roomType', ng-model='sensorHub.roomType', ng-options='roomTypeId as roomTypeName for (roomTypeId, roomTypeName) in meta.roomTypes')
              option(value='') -- choose room --

              
      .page-header Water Sources
      
      .alert.alert-warning(ng-hide='everySensorHubHasAWaterSource(sensorHubs)') Please specify Water Sources
      
      form.form-horizontal(ng-repeat='sensorHub in sensorHubs')
        .form-group(ng-if='sensorHub.sensorHubType == 1')
          label.col-xs-6.control-label {{ meta.roomTypes[sensorHub.roomType] || meta.sensorHubTypes[sensorHub.sensorHubType] }} {{ meta.waterSources[sensorHub.waterSource] }} ({{ sensorHub._id }})
          .col-xs-6
            select.form-control(ng-hide='sensorHub.waterSource', ng-model='sensorHub.waterSource', ng-options='waterSourceId as waterSourceName for (waterSourceId, waterSourceName) in meta.waterSources')
              option(value='') -- choose water source --
            select.form-control(ng-show='sensorHub.waterSource', ng-model='sensorHub.waterSource', ng-options='waterSourceId as waterSourceName for (waterSourceId, waterSourceName) in meta.waterSources')
              option(value='') -- change water source --


    .col-xs-6
      
      .page-header Home
      
      form.form-horizontal
        .form-group
          .col-xs-12
            input.form-control(ng-model='customerAccount.houseName', type='text')
        .form-group
          .col-xs-3
            input.form-control(ng-model='customerAccount.houseNumber', type='text')
          .col-xs-9
            input.form-control(ng-model='customerAccount.streetName', type='text')
        .form-group
          .col-xs-6
            input.form-control(ng-model='customerAccount.city', type='text')
          .col-xs-3
            input.form-control(ng-model='customerAccount.state', type='text')
          .col-xs-3
            input.form-control(ng-model='customerAccount.zip', type='text')
 
    
      .page-header Contact
      
      form.form-horizontal
        .form-group
          .col-xs-6
            input.form-control(ng-model='customerAccount.name.first', type='text')
          .col-xs-6
            input.form-control(ng-model='customerAccount.name.last', type='text')
        .form-group
          .col-xs-6
            .input-group
              .input-group-addon @
              input.form-control(ng-model='user.email', type='email')
          .col-xs-6
            .input-group
              .input-group-addon #
              input.form-control(ng-model='customerAccount.phone', type='text')

      .page-header Gateway
      
      form.form-horizontal
        .form-group
          label.col-xs-6.control-label MAC Address
          .col-xs-6
            input.form-control(ng-model='customerAccount.gateways[0]._id', type='text', disabled='disabled')
            
          
  .row(style='margin-top:25px')
    .col-xs-12
      .form-group
        .col-xs-2.col-xs-offset-4.ac
          button.btn.btn-warning.btn-block(ng-click='save()') Save