.container
  .row
    .col-xs-12.page-header

      h3.pull-left(style='margin:0 15px 15px 0') Account

      form.pull-right(style='margin:0')
        button.btn(ng-class="{ 'btn-default disabled':loading, 'btn-warning':!loading }", ng-click='save()')
          span(ng-hide='loading') Save
          span(ng-show='loading') .. saving

  .row

    .col-xs-6

      .page-header(style='margin-top:0') Home

      form.form-horizontal
        .form-group
          .col-xs-12
            input.form-control(ng-model='customerAccount.houseName', type='text')
        .form-group
          .col-xs-3
            input.form-control(ng-model='customerAccount.houseNumber', type='text')
          .col-xs-9
            input.form-control(ng-model='customerAccount.streetName', type='text')
        .form-group
          .col-xs-6
            input.form-control(ng-model='customerAccount.city', type='text')
          .col-xs-3
            input.form-control(ng-model='customerAccount.state', type='text')
          .col-xs-3
            input.form-control(ng-model='customerAccount.zip', type='text')


      .page-header Contact

      form.form-horizontal
        .form-group
          .col-xs-6
            input.form-control(ng-model='customerAccount.name.first', type='text')
          .col-xs-6
            input.form-control(ng-model='customerAccount.name.last', type='text')
        .form-group
          .col-xs-6
            .input-group
              .input-group-addon @
              input.form-control(ng-model='user.email', type='email', disabled='disabled')
          .col-xs-6
            .input-group
              .input-group-addon #
              input.form-control(ng-model='customerAccount.phone', type='text')

      .page-header Network Hub

      form.form-horizontal
        .form-group
          label.col-xs-6.control-label MAC Address
          .col-xs-6
            input.form-control(ng-model='customerAccount.gateways[0]._id', type='text', disabled='disabled')