style.
  .panel-heading.two-line { min-height:61px }

.container
  .row
    .col-xs-6
      .panel.panel-info
        .media.panel-heading
          .media-left.media-middle
            img.media-object(ng-src="{{ weather.icon_url }}")
          .media-body
            h4.media-heading {{ weather.temp_f }} ℉
            | {{ weather.display_location.full }}
    .col-xs-6
      .panel.panel-default
        .panel-heading
          span Network Hub 1
          .pull-right
            span.label(style='margin-left:6px; margin-right:2px', ng-class='cssClassByRssiThreshold(latestNetworkHubPowerSource.rssi)', title='cellular: {{ latest[sensorHubs[0]._id].rssi }} rssi')
              i.icon-connection
            span.label(ng-if='latestNetworkHubPowerSource.gatewayEventCode == 1', ng-class='cssClassByBatteryThreshold(latestNetworkHubPowerSource.gatewayBattery)', title="backup battery: {{ latestNetworkHubPowerSource.gatewayBattery }}% ({{ latestNetworkHubPowerSource.timestamp | date:'MMM d h:mm a' }})")
              i.icon-battery-half
            span.label.label-success(ng-if='latestNetworkHubPowerSource.gatewayEventCode == 2', title='line power')
              i.icon-power-cord
  .row
    .clearfix.visible-sm-block(ng-repeat-start='sensorHub in sensorHubs', ng-if='!$first && $index % 2 == 0')
    .clearfix.visible-md-block(ng-if='!$first && $index % 3 == 0')
    .col-xs-12.col-sm-6.col-md-4
      .panel.panel-default
        .panel-heading.two-line
          span(title='{{ sensorHub._id }}') {{ meta.sensorHubTypes[sensorHub.sensorHubType] }}
          small  ({{ latest[sensorHub._id].timestamp | date:'MMM d h:mm a' }})
          .pull-right
            small(style='color:#4f9fcf') {{ latest[sensorHub._id].sensorHubData1 }} &#8457;
            span.label(style='margin-left:6px; margin-right:2px', ng-class='cssClassByRssiThreshold(latest[sensorHub._id].sensorHubRssi)', title='bluetooth: {{ latest[sensorHub._id].sensorHubRssi }} rssi')
              i.icon-bluetooth
            span.label(ng-class='cssClassByBatteryThreshold(latest[sensorHub._id].sensorHubBattery)', title='battery: {{ latest[sensorHub._id].sensorHubBattery }}%')
              i.icon-battery-half
          br
          span {{ meta.roomTypes[sensorHub.roomType] }}
          small(ng-show='sensorHub.sensorHubType == 1 && sensorHub.waterSource')  ({{ meta.waterSources[sensorHub.waterSource] }})
        ul.list-group
          li.list-group-item.list-group-item-warning(ng-show='latest[sensorHub._id].sensorHubData1 == undefined')
            | No data collected yet

          // show 'OK' if no alerts (for water, motion, and movement sensors)
          li.list-group-item.text-success.ac(ng-if='sensorHub.sensorHubType != 2 && !latest[sensorHub._id].latestAlert', title='No alerts in last 12 hours')
            i.icon-ok-circle
            |  OK

          li.list-group-item(ng-if='latest[sensorHub._id].latestAlert', ng-class="{ 'text-warning': sensorHub.sensorHubType != 1, 'text-danger': sensorHub.sensorHubType == 1 }")
            .alert-icon-left(ng-bind-html='alerttext.sensorHubEvent( latest[sensorHub._id].latestAlert )')
          li.list-group-item(ng-if='latest[sensorHub._id].latestAlert', style='border:none; padding:0; top:-8px')
            .ac
              a.small-text(href='#/alerts?sensorHubMacAddress={{ sensorHub._id }}')
                i.glyphicon.glyphicon-triangle-right
                |  show more

          li.list-group-item(ng-show='latest[sensorHub._id].sensorHubData2 != undefined', title='Light')
            strong
              i.icon-lamp
              |  {{ latest[sensorHub._id].sensorHubData2 }}
            small  lux
          li.list-group-item(title='Humidity', ng-show='latest[sensorHub._id].sensorHubData2 != undefined')
            strong
              i.icon-droplets
              |  {{ latest[sensorHub._id].sensorHubData3 }}
            small  %

    .clearfix.visible-xs-block(ng-repeat-end='')