.container
  .row
    legend Sensor Alerts
  
    .form-group.col-xs-12(ng-repeat='sensorHubEvent in sensorHubEvents')
      label.col-xs-4 {{ sensorHubEvent.name }}
      .col-xs-8
        .btn-group
          a.btn.btn-default(ng-repeat='deliveryMethod in deliveryMethods', ng-class="{active:isChecked(sensorHubEvent.value, 'sensorHubEvent', deliveryMethod.name)}", ng-click="toggleNotification(sensorHubEvent.value, 'sensorHubEvent', deliveryMethod.name)")
            i(class='{{ deliveryMethod.icon }}')
  
    legend HomeBase Alerts
  
    .form-group.col-xs-12(ng-repeat='gatewayEvent in gatewayEvents')
      label.col-xs-4 {{ gatewayEvent.name }}
      .col-xs-8
        .btn-group
          a.btn.btn-default(ng-repeat='deliveryMethod in deliveryMethods', ng-class="{active:isChecked(gatewayEvent.value, 'gatewayEvent', deliveryMethod.name)}", ng-click="toggleNotification(gatewayEvent.value, 'gatewayEvent', deliveryMethod.name)")
            i(class='{{ deliveryMethod.icon }}')

  // .row(style='margin-top:25px')
  //   .col-xs-12
  //     .form-group
  //       .col-xs-2.col-xs-offset-4.ac
  //         button.btn.btn-warning.btn-block(ng-click='save()') Save