.container

  .row(style='margin-bottom:25px')
    .col-xs-3
      select.form-control(ng-model='searchParams.start')
        option(value='1 day ago') 1 day ago to now
        option(value='1 week ago') 1 week ago to now
        option(value='1 month ago') 1 month ago to now
        option(value='6 months ago') 6 months ago to now

  .row(ng-repeat='(sensorHubMacAddress,configArr) in chartData')
    .col-xs-12
      .panel.panel-default
        .panel-heading {{ sensorHubMacAddress }}
        .panel-body
          ul.nav.nav-tabs
            li(ng-repeat='config in configArr', ng-class='{active:$first}')
              a(data-toggle='tab', href="#{{ formatId(sensorHubMacAddress) }}-{{ formatId( config.series[0].name ) }}") {{ config.series[0].name }}
          .tab-content
            .tab-pane(ng-repeat='config in configArr', id="{{ formatId(sensorHubMacAddress) }}-{{ formatId( config.series[0].name ) }}", ng-class='{active:$first}')
              highchart(config='config')