style.
  legend { font-size:inherit; margin-bottom:8px }
  input.ng-invalid.ng-touched { border-color:#a94442; }

.container
  .row
    .col-xs-12.page-header
      h3.pull-left(style='margin:0 15px 15px 0') Alert Setup

  .row
    .col-xs-6
      .row(ng-if='networkHub.pendingOutboundCommand')
        .alert.alert-warning Update in progress.  Some settings are hidden and cannot be changed.

      form.form-horizontal(ng-repeat='sensorHub in sensorHubs', name='forms.{{ sensorHub._id }}')
        .row.panel.panel-default
          .panel-heading
            | {{ meta.sensorHubTypes[sensorHub.sensorHubType] }}
            small.muted  {{ sensorHub._id }}
            button.btn-default.btn-xs.pull-right(ng-click="save(sensorHub)") Save

          .panel-body
            .form-group
              .col-xs-6
                legend Room
                .col-xs-12(style='padding:0')
                  select.form-control(ng-model='sensorHub.roomType', ng-options='roomTypeId as roomTypeName for (roomTypeId, roomTypeName) in meta.roomTypes')

              .col-xs-6(ng-if='sensorHub.sensorHubType == 1')
                legend Water Source
                .col-xs-12(style='padding:0')
                  select.form-control(ng-model='sensorHub.waterSource', ng-options='waterSourceId as waterSourceName for (waterSourceId, waterSourceName) in meta.waterSources')


            .form-group(ng-repeat='sensorType in sensorTypes', ng-if='hasSensorType(sensorHub, sensorType)')
              .col-xs-12
                legend {{ sensorType }} alerts

                .col-xs-2(ng-repeat='deliveryMethod in deliveryMethods')
                  label.checkbox-inline
                    input(type='checkbox', ng-click="toggleSubscription(sensorHub, deliveryMethod, sensorType)", ng-checked="isChecked(sensorHub, sensorType, deliveryMethod)")
                    | {{ deliveryMethod }}

                .col-xs-4(ng-if='sensorTypeHasMinMax(sensorType) && !networkHub.pendingOutboundCommand')
                  label.col-xs-4.control-label min
                  .col-xs-8
                    input.form-control(type='number', min="{{ customThresholdInputRanges[sensorType + 'Min']['min'] }}", max="{{ customThresholdInputRanges[sensorType + 'Min']['max'] }}", ng-model="sensorHub.deviceThresholds[sensorType+'Min']", lower-than="{{sensorHub.deviceThresholds[sensorType+'Max']}}", name="{{ sensorType + 'Min' }}")

                .col-xs-4(ng-if='sensorTypeHasMinMax(sensorType) && !networkHub.pendingOutboundCommand')
                  label.col-xs-4.control-label max
                  .col-xs-8
                    input.form-control(type='number', min="{{ customThresholdInputRanges[sensorType + 'Max']['min'] }}", max="{{ customThresholdInputRanges[sensorType + 'Max']['max'] }}", ng-model="sensorHub.deviceThresholds[sensorType+'Max']", greater-than="{{sensorHub.deviceThresholds[sensorType+'Min']}}", name="{{ sensorType + 'Max' }}")

                .col-xs-6(ng-if='sensorHub.sensorHubType == 3 && !networkHub.pendingOutboundCommand')
                  label.col-xs-4.control-label Sensitivity
                  .col-xs-8
                    select.form-control(ng-model='sensorHub.deviceThresholds.movementSensitivity', ng-options='sensitivityId as sensitivity for (sensitivityId, sensitivity) in meta.movementSensitivityLevels')