.container
  .row

    legend Sensors

    .col-xs-6

      .row.panel.panel-default(ng-repeat='sensorHub in sensorHubs')
        .panel-heading
          | {{ meta.sensorHubTypes[sensorHub.sensorHubType] }}
          small.muted  {{ sensorHub._id }}
        .panel-body
          .row
            .col-xs-6
              legend(style='font-size:inherit; margin-bottom:8px') Enabled Alerts
              .list-group(style='margin-bottom:0')

                .list-group-item(style='padding:10px;margin-bottom:0')
                  span.pull-left(style='margin-right:5px')
                    i.media-object.icon-temperature
                  span.pull-right
                    input(type='checkbox', ng-click="toggleMuted(sensorHub._id, 'temperature')", ng-checked="categoryIsNotMuted(sensorHub._id, 'temperature')")
                  h5.media-heading  Temperature

                .list-group-item(ng-show='sensorHub.sensorHubType == 2', style='padding:10px;margin-bottom:0')
                  span.pull-left(style='margin-right:5px')
                    i.media-object.icon-lamp
                  span.pull-right
                    input(type='checkbox', ng-click="toggleMuted(sensorHub._id, 'light')", ng-checked="categoryIsNotMuted(sensorHub._id, 'light')")
                  h5.media-heading  Light

                .list-group-item(ng-show='sensorHub.sensorHubType == 2', style='padding:10px;margin-bottom:0')
                  span.pull-left(style='margin-right:5px')
                    i.media-object.icon-droplets
                  span.pull-right
                    input(type='checkbox', ng-click="toggleMuted(sensorHub._id, 'humidity')", ng-checked="categoryIsNotMuted(sensorHub._id, 'humidity')")
                  h5.media-heading  Humidity

                .list-group-item(ng-show='sensorHub.sensorHubType == 1', style='padding:10px;margin-bottom:0')
                  span.pull-left(style='margin-right:5px')
                    i.media-object.icon-droplet
                  span.media-heading  Water
                  span.pull-right
                    input(type='checkbox', ng-click="toggleMuted(sensorHub._id, 'water')", ng-checked="categoryIsNotMuted(sensorHub._id, 'water')")

                .list-group-item(ng-show='sensorHub.sensorHubType == 3', style='padding:10px;margin-bottom:0')
                  span.pull-left(style='margin-right:5px')
                    i.media-object.icon-reply-all2
                  span.media-heading  Movement
                  span.pull-right
                    input(type='checkbox', ng-click="toggleMuted(sensorHub._id, 'movement')", ng-checked="categoryIsNotMuted(sensorHub._id, 'movement')")

                .list-group-item(ng-show='sensorHub.sensorHubType == 4', style='padding:10px;margin-bottom:0')
                  span.pull-left(style='margin-right:5px')
                    i.media-object.icon-eye
                  span.media-heading  Motion
                  span.pull-right
                    input(type='checkbox', ng-click="toggleMuted(sensorHub._id, 'motion')", ng-checked="categoryIsNotMuted(sensorHub._id, 'motion')")

            .col-xs-6
              legend(style='font-size:inherit; margin-bottom:8px') Room
              select.form-control(ng-model='sensorHub.roomType', ng-options='roomTypeId as roomTypeName for (roomTypeId, roomTypeName) in meta.roomTypes')
              legend(ng-show='sensorHub.sensorHubType == 1', style='font-size:inherit; margin-bottom:8px; margin-top:8px') Water Source
              select.form-control(ng-show='sensorHub.sensorHubType == 1', ng-model='sensorHub.waterSource', ng-options='waterSourceId as waterSourceName for (waterSourceId, waterSourceName) in meta.waterSources')

  .row(style='margin-top:25px')
    .col-xs-12
      .form-group
        .col-xs-2.col-xs-offset-4.ac
          button.btn.btn-warning.btn-block(ng-click='save()') Save