@navbar-default-bg                : #6CC6C6;
@navbar-default-brand-color       : #ffffff;
@navbar-default-link-color        : #eaeaea;
@navbar-default-link-active-color : #ffffff;
@navbar-default-link-hover-color  : #ffffff;